@import "tailwindcss";
@plugin "daisyui";

.main{
  @apply md:max-w-[1400px] w-full md:my-[50px] my-[30px] p-2 mx-auto
}

.grid{
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6
}

.title {
  @apply md:text-4xl text-3xl font-bold
}

.liner-text{
  @apply bg-linear-to-r to-[#27ae60] from-[#16a085] bg-clip-text text-transparent
}